@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
  }

body {
  margin: 0;
}

h1 {
  font-size: 60px;
}
/***************PAGE HEADING***************/
.page-title {
  text-align: center;
  color: #FFF;
  letter-spacing: 5px;
}

.page-title h1 {
  background-image: url(https://www.cuurate.xyz/images/site-specific/experiences/page-1/lasting-srilankan/firedancer.gif);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 120px;
  margin: 10px 0;
}


#back-to-top {
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: transparent; 
  color: rgb(0, 0, 0); 
  cursor: pointer; 
  border-radius: 50px;
  width: 40px;
  text-shadow: 0 0.5px 1px #2a2828;
}

#back-to-top:hover {
  opacity: 0.5;
}

/***********ANCHORS**********/
.anchors {
  display: flex;
  flex-direction: column;
  width: 150px;
  position: fixed;
  bottom: 120px; 
  right: 0px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  text-align: center;
  font-size: 12px;
}

.anchors a {
  margin-top: 2px;
  border-radius: 50px;
  padding: 6px;
  text-transform: lowercase;
  border: none;
  background-color: #c3bd12;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
}

.anchors a:hover {
  border: 0.5px solid #dad422;
  background-color: #dad422;
}

section {
  padding: 0px 50px;
}

section h2 {
  font-size: 60px;
  color: #88670d;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  width: 100%;
  height: 500px;
  grid-gap: 10px;
}



/****************** ANCITIES CITIES IN SRI LANKA IMAGES *******************/

#ancient-cities .grid-item1 {
  background-image: url("https://images.unsplash.com/photo-1637557056625-c133d59dc460?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 1/4;
  grid-row: 1/2;
}

#ancient-cities .grid-item2 {
  background-image: url("https://media-cdn.tripadvisor.com/media/photo-s/22/26/1c/29/polonnaruwa-ancient-city.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 1/2;
  grid-row: 2/5;
}

#ancient-cities .grid-item3 {
  background-image: url("https://www.holidify.com/images/bgImages/YAPAHUWA.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 1/5;
  grid-row: 5/5;
}

#ancient-cities .grid-item4 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/ba/The_Quadrangle%2C_Ancient_City_of_Polonnaruwa%2C_Sri_Lanka_%282%29.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 2/4;
  grid-row: 2/5;
}

#ancient-cities .grid-item5 {
  background-image: url("https://live.staticflickr.com/65535/50962674256_6f1c35b811_b.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 4/6;
  grid-row: 1/3;
}

#ancient-cities .grid-item6 {
  background-image: url("https://www.helankavacations.com/sri-lanka-tour-package/images/HeritageSriLanka-InnerBanner.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 4/5;
  grid-row: 3/5;
}

#ancient-cities .grid-item7 {
  background-image: url("https://lp-cms-production.imgix.net/2019-06/cd3466ec29738438fe90476411fe7525-anuradhapura-ruins.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 5/6;
  grid-row: 3/6;
}

#ancient-cities .grid-item8 {
  background-image: url("https://i0.wp.com/amazinglanka.com/wp/wp-content/uploads/2013/09/IMG_20171217_150138.jpg?fit=1280%2C730&ssl=1");
  background-size: cover;
  background-position: center;
  grid-column: 6/8;
  grid-row: 1/6;
}


/****************** CUISINE IN SRI LANKA IMAGES *******************/

#cuisine .grid-item1 {
  background-image: url("https://img.traveltriangle.com/blog/wp-content/uploads/2017/08/rsz_shutterstock_437677426.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 1/4;
  grid-row: 1/2;
}

#cuisine .grid-item2 {
  background-image: url("https://srilankatourisminfo.com/wp-content/uploads/2019/02/image-result-for-ministry-of-crab-1.png");
  background-size: cover;
  background-position: center;
  grid-column: 1/2;
  grid-row: 2/5;
}

#cuisine .grid-item3 {
  background-image: url("https://nomadparadise.com/wp-content/uploads/2021/05/sri-lankan-food-07.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 1/5;
  grid-row: 5/5;
}

#cuisine .grid-item4 {
  background-image: url("https://www.hlimg.com/images/stories/738X538/main-image_1549685441-1350e.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 2/4;
  grid-row: 2/5;
}

#cuisine .grid-item5 {
  background-image: url("https://shop.hiltoncolombo1.com/image/cache/catalog/Family%20packages/Sri%20Lankan%20Cuisine/Srilankan-Cuisine-Pork-Hilton-Colombo-2-800x800.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 4/6;
  grid-row: 1/3;
}

#cuisine .grid-item6 {
  background-image: url("https://www.tastepak.com/images/p/sri-lankan-cuisine.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 4/5;
  grid-row: 3/5;
}

#cuisine .grid-item7 {
  background-image: url("https://srilankaholidayguru.com/wp-content/uploads/2018/11/tea-types-sr-lanka-tea.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 5/6;
  grid-row: 3/6;
}

#cuisine .grid-item8 {
  background-image: url("https://www.theflavorbender.com/wp-content/uploads/2018/03/Chicken-Kottu-Roti-The-Flavor-Bender-Featured-Image-SQ-8.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 6/8;
  grid-row: 1/6;
}



/****************** FESTIVALS IN SRI LANKA IMAGES *******************/

#festivals .grid-item1 {
  background-image: url("http://blog.cinnamonhotels.com/wp-content/uploads/2022/04/D3R5942-1.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 1/4;
  grid-row: 1/2;
}

#festivals .grid-item2 {
  background-image: url("https://live.staticflickr.com/255/31116419854_b10939104c_b.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 1/2;
  grid-row: 2/5;
}

#festivals .grid-item3 {
  background-image: url("https://nexttravelsrilanka.com/wp-content/uploads/2021/03/Ramadan-the-Amazing-Festival-of-Joy.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 1/5;
  grid-row: 5/5;
}

#festivals .grid-item4 {
  background-image: url("https://www.thekingsburyhotel.com/blog/wp-content/uploads/sites/3/2020/01/Thai-Pongal-in-Sri-Lanka.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 2/4;
  grid-row: 2/5;
}

#festivals .grid-item5 {
  background-image: url("https://media.timeout.com/images/103836280/image.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 4/6;
  grid-row: 1/3;
}

#festivals .grid-item6 {
  background-image: url("https://www.swantour.com/blogs/wp-content/uploads/2019/03/Sri-Lanka-Festivals.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 4/5;
  grid-row: 3/5;
}

#festivals .grid-item7 {
  background-image: url("https://www.thekingsburyhotel.com/blog/wp-content/uploads/sites/3/2018/08/Sinhala-and-Tamil-New-Year-Celebrations-in-Sri-Lanka.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 5/6;
  grid-row: 3/6;
}

#festivals .grid-item8 {
  background-image: url("https://srilankaembassy.fr/sites/default/files/files/users/user137/esala-perahera.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 6/8;
  grid-row: 1/6;
}

/****************** DANCE AND MUSIC IN SRI LANKA IMAGES *******************/

#dance .grid-item1 {
  background-image: url("https://www.classicsrilanka.com/blog/wp-content/uploads/2021/05/DSC_2290-1038x576.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 1/4;
  grid-row: 1/2;
}

#dance .grid-item2 {
  background-image: url("https://groundviews.org/wp-content/uploads/2012/05/Header-Image1.png?w=640");
  background-size: cover;
  background-position: center;
  grid-column: 1/2;
  grid-row: 2/5;
}

#dance .grid-item3 {
  background-image: url("https://nexttravelsrilanka.com/wp-content/uploads/2021/10/Grandeur-Dances-1.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 1/5;
  grid-row: 5/5;
}


#dance .grid-item4 {
  background-image: url("https://www.srilankafoundation.org/wp-content/themes/dimensiongraphic/PAC-file/traditional-dancing.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 2/4;
  grid-row: 2/5;
}

#dance .grid-item5 {
  background-image: url("https://nexttravelsrilanka.com/wp-content/uploads/2020/11/Cultural-Dance.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 4/6;
  grid-row: 1/3;
}

#dance .grid-item6 {
  background-image: url("https://www.classicsrilanka.com/blog/wp-content/uploads/2021/05/Sri-Lanka-Traditional-Dances-Sabaragamuwa-dance.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 4/5;
  grid-row: 3/5;
}

#dance .grid-item7 {
  background-image: url("http://www.sundaytimes.lk/160710/uploads/13.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 5/6;
  grid-row: 3/6;
}

#dance .grid-item8 {
  background-image: url("http://www.classicsrilanka.com/blog/wp-content/uploads/2021/05/8713415994_5b70683412_b.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 6/8;
  grid-row: 1/6;
}

/****************** TRADITIONAL CRAFTS IN SRI LANKA IMAGES *******************/

#craft .grid-item1 {
  background-image: url("https://cdn2.wanderlust.co.uk/media/1004/hr-shutterstock_1830174857-1500.jpg?anchor=center&mode=crop&width=650&height=0&rnd=132778299520000000");
  background-size: cover;
  background-position: center;
  grid-column: 1/4;
  grid-row: 1/2;
}

#craft .grid-item2 {
  background-image: url("https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0f/40/82/68/sunflower-art-and-crafts.jpg?w=1200&h=-1&s=1");
  background-size: cover;
  background-position: center;
  grid-column: 1/2;
  grid-row: 2/5;
}

#craft .grid-item3 {
  background-image: url("https://explorelanka.com/wp-content/uploads/2015/03/art-craft-srilanka.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 1/5;
  grid-row: 5/5;
}

#craft .grid-item4 {
  background-image: url("https://i.pinimg.com/originals/8d/20/2b/8d202b24857f3559366733ca9a17a8aa.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 2/4;
  grid-row: 2/5;
}

#craft .grid-item5 {
  background-image: url("https://www.srilankadaytours.com/images/Pottery/011.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 4/6;
  grid-row: 1/3;
}

#craft .grid-item6 {
  background-image: url("https://www.soulsrilanka.com/image/meta/sri-lanka-experiences-learn-about-batik.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 4/5;
  grid-row: 3/5;
}

#craft .grid-item7 {
  background-image: url("https://www.reddottours.com/uploads/Activities/Activity-Category/Header-Images/Arts-&-Crafts-header.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 5/6;
  grid-row: 3/6;
}

#craft .grid-item8 {
  background-image: url("https://exploresrilankadotblog.files.wordpress.com/2019/06/11084796895_7e9f1b3ddb_k.jpg?w=1200");
  background-size: cover;
  background-position: center;
  grid-column: 6/8;
  grid-row: 1/6;
}

/******************  SRI LANKAN NEW YEAR AND TRADITIONS IN SRI LANKA IMAGES *******************/

#newyear .grid-item1 {
  background-image: url("https://i0.wp.com/magnificentsrilanka.com/wp-content/uploads/2021/04/avurudu-1.jpg?resize=1024%2C684&ssl=1");
  background-size: cover;
  background-position: center;
  grid-column: 1/4;
  grid-row: 1/2;
}

#newyear .grid-item2 {
  background-image: url("https://cdn.shopify.com/s/files/1/1762/3971/files/simha_662b3692-1ac1-4689-9341-0060fe57a7f0.jpg?v=1654598580&width=1500");
  background-size: cover;
  background-position: center;
  grid-column: 1/2;
  grid-row: 2/5;
}

#newyear .grid-item3 {
  background-image: url("http://blog.cinnamonhotels.com/wp-content/uploads/2022/04/D3R6469-1.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 1/5;
  grid-row: 5/5;
}

#newyear .grid-item4 {
  background-image: url("https://d30od4ebpi69u8.cloudfront.net/sites/3/2019/04/6.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 2/4;
  grid-row: 2/5;
}

#newyear .grid-item5 {
  background-image: url("https://img.theculturetrip.com/wp-content/uploads/2017/11/13742073863_ee2858186a_h.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 4/6;
  grid-row: 1/3;
}

#newyear .grid-item6 {
  background-image: url("https://d1bvpoagx8hqbg.cloudfront.net/originals/sri-lankan-new-year-festival-b27905f748707980cb0ec0bde944d360.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 4/5;
  grid-row: 3/5;
}

#newyear .grid-item7 {
  background-image: url("http://blog.cinnamonhotels.com/wp-content/uploads/2022/04/D3R6919-1.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 5/6;
  grid-row: 3/6;
}

#newyear .grid-item8 {
  background-image: url("https://newwaytravel.com.vn/wp-content/uploads/2020/08/5a-2.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 6/8;
  grid-row: 1/6;
}

/******************  RELIGIOUS HARMONY IN SRI LANKA IMAGES *******************/

#religion .grid-item1 {
  background-image: url("https://www.colombotimes.net/wp-content/uploads/2021/09/112.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 1/4;
  grid-row: 1/2;
}

#religion .grid-item2 {
  background-image: url("https://c1.wallpaperflare.com/preview/795/484/2/meditation-bhikkhu-mahamevnawa-sri-lanka-buddhist-monk.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 1/2;
  grid-row: 2/5;
}

#religion .grid-item3 {
  background-image: url("https://d1bv4heaa2n05k.cloudfront.net/posts%2FiHCXs8mjnuutk9BSL%2F1503303300714-shutterstock_591779303.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 1/5;
  grid-row: 5/5;
}

#religion .grid-item4 {
  background-image: url("https://bmkltsly13vb.compat.objectstorage.ap-mumbai-1.oraclecloud.com/cdn.dailymirror.lk/assets/uploads/image_e80671899b.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 2/4;
  grid-row: 2/5;
}

#religion .grid-item5 {
  background-image: url("https://img.atlasobscura.com/cQ-1Kp2v8XQNeUoiptmhPY9G0D8nftjohzuS7GUHxXw/rs:fill:580:580:1/g:ce/q:81/sm:1/scp:1/ar:1/aHR0cHM6Ly9hdGxh/cy1kZXYuczMuYW1h/em9uYXdzLmNvbS91/cGxvYWRzL3BsYWNl/X2ltYWdlcy9iNTc3/NGY5YTAyODA1YTAz/MjZfc2l0dGluZyBi/dWRkaGEuanBn.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 4/6;
  grid-row: 1/3;
}

#religion .grid-item6 {
  background-image: url("https://wpcdn.zenger.news/wp-content/uploads/2020/12/03020715/sri-lanka-edited-scaled.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 4/5;
  grid-row: 3/5;
}

#religion .grid-item7 {
  background-image: url("http://nccsl.org/web/wp-content/uploads/2018/01/IMG_9185.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 5/6;
  grid-row: 3/6;
}

#religion .grid-item8 {
  background-image: url("https://qph.cf2.quoracdn.net/main-qimg-b6c78357284d38771cdc435ca081156f-lq");
  background-size: cover;
  background-position: center;
  grid-column: 6/8;
  grid-row: 1/6;
}


/******************  TRADITIONAL ATTIRE IN SRI LANKA IMAGES *******************/

#attire .grid-item1 {
  background-image: url("https://assets.roar.media/Life/2017/09/low-country-noblemen.jpg?w=1200");
  background-size: cover;
  background-position: center;
  grid-column: 1/4;
  grid-row: 1/2;
}

#attire .grid-item2 {
  background-image: url("http://cdn.shopify.com/s/files/1/1034/8667/products/Lovi_Men_s_National_Silk_Kandian_Nilame_Srilankan_Embroidery_Wedding_HomeComing_Engagement_LongSleeves_Sarong.jpg?v=1603098575");
  background-size: cover;
  background-position: center;
  grid-column: 1/2;
  grid-row: 2/5;
}

#attire .grid-item3 {
  background-image: url("https://kiptra.com/wp-content/uploads/2022/12/ahikuntaka-community-upliftment-1.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 1/5;
  grid-row: 5/5;
}

#attire .grid-item4 {
  background-image: url("https://qph.cf2.quoracdn.net/main-qimg-43cdfce077cdec70e67fd1bee444189a.webp");
  background-size: cover;
  background-position: center;
  grid-column: 2/4;
  grid-row: 2/5;
}


#attire .grid-item5 {
  background-image: url("https://media.istockphoto.com/id/1063375682/photo/sri-lankan-women-in-street-market-sri-lanka.jpg?s=170667a&w=0&k=20&c=EdxtstXYm4NL83ONh1yJyrDehGE1lPXneEWeuVVSJh0=");
  background-size: cover;
  background-position: center;
  grid-column: 4/6;
  grid-row: 1/3;
}

#attire .grid-item6 {
  background-image: url("https://i0.wp.com/www.seema.com/wp-content/uploads/2022/09/Traditional-Clothing-of-Sri-Lanka1.jpg?resize=740%2C560&ssl=1");
  background-size: cover;
  background-position: center;
  grid-column: 4/5;
  grid-row: 3/5;
}

#attire .grid-item7 {
  background-image: url("https://i.pinimg.com/236x/07/2c/e5/072ce5c8b6d589374a95d2174572408b--ceylon-sri-lanka-black-asian.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 5/6;
  grid-row: 3/6;
}

#attire .grid-item8 {
  background-image: url("https://i.pinimg.com/236x/7a/3c/cc/7a3ccc59f236979883dcf121f609fac3.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 6/8;
  grid-row: 1/6;
}



/****************** PAGE STYLES ************************/
.page-number-block {
  text-align: center;
  padding: 3px;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 10px 18px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
  border-radius: 50px;
}

.pagination a.active {
  background-color: #343834;
  color: white;
  border: 1px solid #343834;
  border-radius: 50px;
}

.pagination a:hover:not(.active) {
  background-color: #ffffff;
  border: 1px solid #262726;
}
