@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}


h1 {
    background-image: url(https://thumbs.gfycat.com/AthleticEvenGypsymoth-size_restricted.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 120px;
    margin: 10px 0;
    align-items: center;
    
  }

.Intro {
    margin-left: 50px;
    margin-right: 70px;

}
.adventure{
    font-size:20px;
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: transparent;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 50px;
    width: 40px;
    text-shadow: 0 0.5px 1px #2a2828;
}

#back-to-top:hover {
    opacity: 0.5;
}

/********************************ANCHORS*******************************/
.anchors {
    display: flex;
    flex-direction: column;
    width: 150px;
    position: fixed;
    bottom: 120px;
    right: 0px;
    z-index: 99;
    border: none;
    outline: none;
    text-align: center;
    font-size: 12px;
}

.anchors a {
    margin-top: 2px;
    border-radius: 50px;
    padding: 6px;
    text-transform: lowercase;
    border: none;
    background-color: #0765c3;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
}

.anchors a:hover {
    border: 0.5px solid #054b90;
    background-color: #054b90;
}


section {
    padding: 0px 50px;
}

section h2 {
    font-size: 60px;
    color: #195284;
}

.grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 100%;
    height: 500px;
    grid-gap: 10px;
}

/***************************************************** HIKING IN ELLA IMAGES ******************************************************/

#hiking .grid-item1 {
    background-image: url("https://images.unsplash.com/photo-1524726240783-939bfdd633e2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8aGlraW5nJTIwaW4lMjBzcmklMjBsYW5rYXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-position: center;
    grid-column: 1/4;
    grid-row: 1/2;
}

#hiking .grid-item2 {
    background-image: url("https://images.unsplash.com/photo-1667617139130-1c161474b680?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8aGlraW5nJTIwaW4lMjBzcmklMjBsYW5rYXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-position: center;
    grid-column: 1/2;
    grid-row: 2/5;
}

#hiking .grid-item3 {
    background-image: url("https://images.unsplash.com/photo-1559038297-2008397bad17?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8aGlraW5nJTIwaW4lMjBzcmklMjBsYW5rYXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-position: center;
    grid-column: 1/5;
    grid-row: 5/5;
}

#hiking .grid-item4 {
    background-image: url("https://images.unsplash.com/photo-1656495783008-172d887b9530?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGhpa2luZyUyMGluJTIwc3JpJTIwbGFua2F8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-position: center;
    grid-column: 2/4;
    grid-row: 2/5;
}

#hiking .grid-item5 {
    background-image: url("https://images.unsplash.com/photo-1515696955266-4f67e13219e8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjZ8fGhpa2luZyUyMGluJTIwc3JpJTIwbGFua2F8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-position: center;
    grid-column: 4/6;
    grid-row: 1/3;
}

#hiking .grid-item6 {
    background-image: url("https://images.unsplash.com/photo-1598427256846-7f0416032337?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzF8fGhpa2luZyUyMGluJTIwc3JpJTIwbGFua2F8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-position: center;
    grid-column: 4/5;
    grid-row: 3/5;
}

#hiking .grid-item7 {
    background-image: url("https://images.unsplash.com/photo-1656314938753-04e10ebcbbc4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTB8fGhpa2luZyUyMGluJTIwc3JpJTIwbGFua2F8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-position: center;
    grid-column: 5/6;
    grid-row: 3/6;
}

#hiking .grid-item8 {
    background-image: url("https://images.unsplash.com/photo-1651463742740-31a399e59823?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzR8fGhpa2luZyUyMGluJTIwc3JpJTIwbGFua2F8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-position: center;
    grid-column: 6/8;
    grid-row: 1/6;
}

/***************************************************** WATER RAFTING IMAGES ******************************************************/

#water-rafting .grid-item1 {
    background-image: url("https://images.unsplash.com/photo-1512675628397-28288d1220ef?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8d2F0ZXIlMjByYWZ0aW5nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-position: center;
    grid-column: 1/4;
    grid-row: 1/2;
}

#water-rafting .grid-item2 {
    background-image: url("https://plus.unsplash.com/premium_photo-1664302589095-3ec880799295?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8d2F0ZXIlMjByYWZ0aW5nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-position: center;
    grid-column: 1/2;
    grid-row: 2/5;
}

#water-rafting .grid-item3 {
    background-image: url("https://images.unsplash.com/photo-1594026634827-fe99c0a22e83?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8d2F0ZXIlMjByYWZ0aW5nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-position: center;
    grid-column: 1/5;
    grid-row: 5/5;
}

#water-rafting .grid-item4 {
    background-image: url("https://images.unsplash.com/photo-1624646580989-9f059e25eb78?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fHdhdGVyJTIwcmFmdGluZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-position: center;
    grid-column: 2/4;
    grid-row: 2/5;
}

#water-rafting .grid-item5 {
    background-image: url("https://images.unsplash.com/photo-1542637297-1318423100cf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fHdhdGVyJTIwcmFmdGluZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-position: center;
    grid-column: 4/6;
    grid-row: 1/3;
}

#water-rafting .grid-item6 {
    background-image: url("https://nexttravelsrilanka.com/wp-content/uploads/2021/07/A-foreign-boy-windsurfing-on-the-waves-enjoying-one-of-the-most-exciting-water-sports-in-Sri-Lanka.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 4/5;
    grid-row: 3/5;
}

#water-rafting .grid-item7 {
    background-image: url("https://images.unsplash.com/photo-1561774711-b0fa364863b7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHdhdGVyJTIwcmFmdGluZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-position: center;
    grid-column: 5/6;
    grid-row: 3/6;
}

#water-rafting .grid-item8 {
    background-image: url("https://images.unsplash.com/photo-1508166466920-f65aa51f727c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjl8fHdhdGVyJTIwcmFmdGluZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-position: center;
    grid-column: 6/8;
    grid-row: 1/6;
}

/***************************************************** SURFING IN ARUGAM BAY IMAGES ******************************************************/

#surfing .grid-item1 {
    background-image: url("https://images.unsplash.com/photo-1502680390469-be75c86b636f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c3VyZmluZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-position: center;
    grid-column: 1/4;
    grid-row: 1/2;
}

#surfing .grid-item2 {
    background-image: url("https://images.unsplash.com/photo-1523606772308-64a28db0ef2c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8c3VyZmluZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-position: center;
    grid-column: 1/2;
    grid-row: 2/5;
}

#surfing .grid-item3 {
    background-image: url("https://images.unsplash.com/photo-1551524358-f34c0214781d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fHN1cmZpbmd8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-position: center;
    grid-column: 1/5;
    grid-row: 5/5;
}

#surfing .grid-item4 {
    background-image: url("https://images.unsplash.com/photo-1563032605-f7f82eb0c163?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzl8fHN1cmZpbmd8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-position: center;
    grid-column: 2/4;
    grid-row: 2/5;
}

#surfing .grid-item5 {
    background-image: url("https://images.unsplash.com/photo-1566787265949-25a073201890?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDB8fHN1cmZpbmd8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-position: center;
    grid-column: 4/6;
    grid-row: 1/3;
}

#surfing .grid-item6 {
    background-image: url("https://nexttravelsrilanka.com/wp-content/uploads/2021/07/A-foreign-boy-windsurfing-on-the-waves-enjoying-one-of-the-most-exciting-water-sports-in-Sri-Lanka.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 4/5;
    grid-row: 3/5;
}

#surfing .grid-item7 {
    background-image: url("https://www.thesrilankatravelblog.com/wp-content/uploads/2022/02/sri-lanka-a-surfers-guide-new-header.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 5/6;
    grid-row: 3/6;
}

#surfing .grid-item8 {
    background-image: url("https://images.unsplash.com/photo-1609365635346-524d0024684f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTd8fHN1cmZpbmd8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-position: center;
    grid-column: 6/8;
    grid-row: 1/6;
}

/***************************************************** SAFARI IN SRI LANKA IMAGES ******************************************************/

#safaris .grid-item1 {
    background-image: url("https://nomadicboys.com/wp-content/uploads/2019/04/sri-lanka-safari.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 1/4;
    grid-row: 1/2;
}

#safaris .grid-item2 {
    background-image: url("https://www.srilankadrivercarrent.com/wp-content/uploads/2021/02/Wildlife-Safari-Sri-Lanka.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 1/2;
    grid-row: 2/5;
}

#safaris .grid-item3 {
    background-image: url("https://www.webjet.co.nz/travel/wp-content/uploads/2019/01/Sri-Lanka-Safari-1.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 1/5;
    grid-row: 5/5;
}

#safaris .grid-item4 {
    background-image: url("https://i.insider.com/5bae37ef9c5d678d218b456a?width=750&format=jpeg&auto=webp");
    background-size: cover;
    background-position: center;
    grid-column: 2/4;
    grid-row: 2/5;
}

#safaris .grid-item5 {
    background-image: url("https://monkeysandmountains.com/wp-content/uploads/2018/11/sri-lanka-6-l.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 4/6;
    grid-row: 1/3;
}

#safaris .grid-item6 {
    background-image: url("https://res.klook.com/images/fl_lossy.progressive,q_65/c_fill,w_1920,h_1080,f_auto/w_80,x_15,y_15,g_south_west,l_Klook_water_br_trans_yhcmh3/activities/ofpjn9i8ikjl1ey6l2dh/UdawalaweNationalParkSafariExperiencefromMirissa,SriLanka-Klook.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 4/5;
    grid-row: 3/5;
}

#safaris .grid-item7 {
    background-image: url("https://www.divergenttravelers.com/wp-content/uploads/Best-Sri-Lanka-Safari-Comparison-guide.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 5/6;
    grid-row: 3/6;
}

#safaris .grid-item8 {
    background-image: url("https://www.srilankatravelandtourism.com/places-sri-lanka/minneriya/minneriya-images/minneriya-6-sri-lanka.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 6/8;
    grid-row: 1/6;
}

/***************************************************** WHALE WATCHING IMAGES ******************************************************/

#whale-watching .grid-item1 {
    background-image: url("https://plus.unsplash.com/premium_photo-1661963381093-5493d37a79bb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8d2hhbGUlMjB3YXRjaGluZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-position: center;
    grid-column: 1/4;
    grid-row: 1/2;
}

#whale-watching .grid-item2 {
    background-image: url("https://images.unsplash.com/photo-1568430328012-21ed450453ea?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8d2hhbGUlMjB3YXRjaGluZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-position: center;
    grid-column: 1/2;
    grid-row: 2/5;
}

#whale-watching .grid-item3 {
    background-image: url("https://images.unsplash.com/photo-1602265133556-dcc08d51340c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fHdoYWxlJTIwd2F0Y2hpbmd8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-position: center;
    grid-column: 1/5;
    grid-row: 5/5;
}

#whale-watching .grid-item4 {
    background-image: url("https://images.unsplash.com/photo-1518877593221-1f28583780b4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzJ8fHdoYWxlJTIwd2F0Y2hpbmd8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-position: center;
    grid-column: 2/4;
    grid-row: 2/5;
}

#whale-watching .grid-item5 {
    background-image: url("https://images.unsplash.com/photo-1602264836619-094873fa05fc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzl8fHdoYWxlJTIwd2F0Y2hpbmd8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-position: center;
    grid-column: 4/6;
    grid-row: 1/3;
}

#whale-watching .grid-item6 {
    background-image: url("https://images.unsplash.com/photo-1633968875521-767a68e572b4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTd8fHdoYWxlJTIwd2F0Y2hpbmd8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-position: center;
    grid-column: 4/5;
    grid-row: 3/5;
}

#whale-watching .grid-item7 {
    background-image: url("https://images.unsplash.com/photo-1504317012549-ab93d787a825?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDR8fHdoYWxlJTIwd2F0Y2hpbmd8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-position: center;
    grid-column: 5/6;
    grid-row: 3/6;
}

#whale-watching .grid-item8 {
    background-image: url("https://images.unsplash.com/photo-1573506712442-be5c4c8d8e9c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzF8fHdoYWxlJTIwd2F0Y2hpbmd8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-position: center;
    grid-column: 6/8;
    grid-row: 1/6;
}

/***************************************************** HOT AIR BALLOON IN SIGIRIYA IMAGES ******************************************************/

#hot-air-balloon .grid-item1 {
    background-image: url("https://minneriyasafari.com/wp-content/uploads/2018/04/hot-air-baloon.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 1/4;
    grid-row: 1/2;
}

#hot-air-balloon .grid-item2 {
    background-image: url("https://www.srilankaballoon.com/wp-content/uploads/2018/09/Sri-Lanka-Balloon-Hot-Air-Ballooning-Sri-Lanka-Dam.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 1/2;
    grid-row: 2/5;
}

#hot-air-balloon .grid-item3 {
    background-image: url("https://www.srilankaballoon.com/wp-content/uploads/2018/09/Sri-Lanka-Balloon-Landing.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 1/5;
    grid-row: 5/5;
}

#hot-air-balloon .grid-item4 {
    background-image: url("https://scontent-cdg2-1.cdninstagram.com/v/t51.29350-15/337964432_783323323134199_875976926359549350_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=8ae9d6&_nc_ohc=CQ84ESlKk54AX8RVSa6&_nc_ht=scontent-cdg2-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AfAhkE92l59F2rL60FMvZCynUW5PxorBWS3zaa2Y_kI_6g&oe=642BE482");
    background-size: cover;
    background-position: center;
    grid-column: 2/4;
    grid-row: 2/5;
}

#hot-air-balloon .grid-item5 {
    background-image: url("https://www.lemaastota.com/wp-content/uploads/2021/11/the-secret-ella-zipline-gallery-01.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 4/6;
    grid-row: 1/3;
}

#hot-air-balloon .grid-item6 {
    background-image: url("https://minneriyasafari.com/wp-content/uploads/2016/12/Air-Ballooning.jpg");
    background-position: center;
    grid-column: 4/5;
    grid-row: 3/5;
}

#hot-air-balloon .grid-item7 {
    background-image: url("https://srilankatourplan.com/wp-content/uploads/2020/06/sigiriya_dambulla_tour02.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 5/6;
    grid-row: 3/6;
}

#hot-air-balloon .grid-item8 {
    background-image: url("https://srilankatourplan.com/wp-content/uploads/2020/06/sigiriya_dambulla_tour02.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 6/8;
    grid-row: 1/6;
}

/***************************************************** KITE SURFING IMAGES ******************************************************/

#kite-surfing .grid-item1 {
    background-image: url("https://www.srilankadaytours.com/images/kite/02.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 1/4;
    grid-row: 1/2;
}

#kite-surfing .grid-item2 {
    background-image: url("https://kitesurfersblog.com/wp-content/uploads/2020/04/kitesurfing-sri-lanka.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 1/2;
    grid-row: 2/5;
}

#kite-surfing .grid-item3 {
    background-image: url("https://kitesurfersblog.com/wp-content/uploads/2020/04/sri-lanka-kite.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 1/5;
    grid-row: 5/5;
}

#kite-surfing .grid-item4 {
    background-image: url("https://www.experiencetravelgroup.com/reposit/20200124112300.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 2/4;
    grid-row: 2/5;
}

#kite-surfing .grid-item5 {
    background-image: url("https://www.soulsrilanka.com/image/experiences/kite-surfing-in-kalpitiya/01.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 4/6;
    grid-row: 1/3;
}

#kite-surfing .grid-item6 {
    background-image: url("https://extremenomads.life/wp-content/uploads/2018/12/kite-review.jpg");
    background-position: center;
    grid-column: 4/5;
    grid-row: 3/5;
}

#kite-surfing .grid-item7 {
    background-image: url("https://wisetravelgenie.com/wp-content/uploads/2020/08/what-is-the-best-season-for-kitesurfing-in-sri-lanka1-1536x1024.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 5/6;
    grid-row: 3/6;
}

#kite-surfing .grid-item8 {
    background-image: url("https://extremenomads.life/wp-content/uploads/2018/11/yo-darkslide-ktasrilanka.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 6/8;
    grid-row: 1/6;
}

/***************************************************** ZIP-LINING IMAGES ******************************************************/

#zip-lining .grid-item1 {
    background-image: url("https://www.attractionsinsrilanka.com/wp-content/uploads/2019/11/Flying-Ravana-Mega-Zipline.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 1/4;
    grid-row: 1/2;
}

#zip-lining .grid-item2 {
    background-image: url("https://www.attractionsinsrilanka.com/wp-content/uploads/2019/11/Flying-Ravana-Mega-Zipline-1.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 1/2;
    grid-row: 2/5;
}

#zip-lining .grid-item3 {
    background-image: url("https://www.attractionsinsrilanka.com/wp-content/uploads/2019/11/Flying-Ravana-Mega-Zipline-1.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 1/5;
    grid-row: 5/5;
}

#zip-lining .grid-item4 {
    background-image: url("https://cdn.getyourguide.com/img/tour/5db7f4cdcf06b.jpeg/97.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 2/4;
    grid-row: 2/5;
}

#zip-lining .grid-item5 {
    background-image: url("https://www.lemaastota.com/wp-content/uploads/2021/11/the-secret-ella-zipline-gallery-01.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 4/6;
    grid-row: 1/3;
}

#zip-lining .grid-item6 {
    background-image: url("https://d1ynolcus8dvgv.cloudfront.net/2019/11/MAD1074-900-600.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 4/5;
    grid-row: 3/5;
}

#zip-lining .grid-item7 {
    background-image: url("https://cctsrilanka.com/wp-content/uploads/2017/11/cctsrilanka.com_.Kitulgala.Ziplining-3.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 5/6;
    grid-row: 3/6;
}

#zip-lining .grid-item8 {
    background-image: url("https://res.cloudinary.com/thrillophilia/image/upload/c_fill,f_auto,fl_progressive.strip_profile,g_auto,h_600,q_auto,w_auto/v1/filestore/3oa8sdvn3rxkyrg898cjxlh9yfpu_1579095458_9.png");
    background-size: cover;
    background-position: center;
    grid-column: 6/8;
    grid-row: 1/6;
}

/**************************************************** PAGE STYLES ************************************************************************/
.page-number-block {
    text-align: center;
    padding: 3px;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 10px 18px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
    border-radius: 50px;
}

.pagination a.active {
    background-color: #343834;
    color: white;
    border: 1px solid #343834;
    border-radius: 50px;
}

.pagination a:hover:not(.active) {
    background-color: #ffffff;
    border: 1px solid #262726;
}
