@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
  }

body {
  margin: 0;
  margin-top: 80px;
}

h1 {
  font-size: 60px;
}

.page-title {
  font-family: "Cairo";
  text-align: center;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  line-height:2
}

.page-title h1 {
  background-image: url(https://media.tenor.com/FnrYIJAcRjoAAAAC/national-beach-day-waves.gif);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 120px;
  margin: 10px 0;
}

/********************************BACK TO TOP*******************************/

#back-to-top {
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: transparent; 
  color: rgb(0, 0, 0); 
  cursor: pointer; 
  border-radius: 50px;
  width: 40px;
  text-shadow: 0 0.5px 1px #2a2828;
}

#back-to-top:hover {
  opacity: 0.5;
}

/********************************ANCHORS*******************************/
.anchors {
  display: flex;
  flex-direction: column;
  width: 150px;
  position: fixed;
  bottom: 120px; 
  right: 0px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  text-align: center;
  font-size: 12px;
}

.anchors a {
  margin-top: 2px;
  border-radius: 50px;
  padding: 6px;
  text-transform: lowercase;
  border: none;
  background-color: #0765c3;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
}

.anchors a:hover {
  border: 0.5px solid #054b90;
  background-color: #054b90;
}

/********************************FOOTER*******************************/
.footer {
  display: flex;
  bottom:0; 
  width:100%; 
  height: 70px;
  background-color: #144c7e;
  font-weight: 300;
  color: #fcfcfc;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.footer a {
    color: #ffffff;
    font-style: italic;
    font-weight: 500;
}

/********************************SECTIONS*******************************/
section {
  padding: 0px 50px;
}

section h2 {
  font-size: 60px;
  color: #195284;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  width: 100%;
  height: 500px;
  grid-gap: 10px;
}

/***************************************************** HISTORICAL PLACES IN SRI LANKA IMAGES ******************************************************/

#historical .grid-item1 {
  background-image: url("https://dynamic-media-cdn.tripadvisor.com/media/photo-o/10/f7/8f/eb/polonnaruwa-vatadage.jpg?w=500&h=400&s=1");
  background-size: cover;
  background-position: center;
  grid-column: 1/4;
  grid-row: 1/2;
}

#historical .grid-item2 {
  background-image: url("https://www.img.urlaub-sr-lanka.info/2013/05/tiwanka.gif");
  background-size: cover;
  background-position: center;
  grid-column: 1/2;
  grid-row: 2/5;
}

#historical .grid-item3 {
  background-image: url("https://www.talesofceylon.com/wp-content/uploads/2019/10/Art-Sculpture-and-Poetry.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 1/5;
  grid-row: 5/5;
}

#historical .grid-item4 {
  background-image: url("https://sometimes-interesting.com/wp-content/uploads/2014/02/sigiriya-01.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 2/4;
  grid-row: 2/5;
}

#historical .grid-item5 {
  background-image: url("https://www.adequatetravel.com/blog/wp-content/uploads/2020/10/Sri-Dalada-Maligawa.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 4/6;
  grid-row: 1/3;
}

#historical .grid-item6 {
  background-image: url("https://w0.peakpx.com/wallpaper/817/971/HD-wallpaper-buddhism-sri-lanka-ancient-art-art-history-sri-lanka.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 4/5;
  grid-row: 3/5;
}

#historical .grid-item7 {
  background-image: url("https://www.adequatetravel.com/blog/wp-content/uploads/2020/10/Old-Parliament-Building.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 5/6;
  grid-row: 3/6;
}

#historical .grid-item8 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/61/Nallur_Kandasamy_front_entrance.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 6/8;
  grid-row: 1/6;
}

/***************************************************** CITYSCAPES IN SRI LANKA IMAGES ******************************************************/

#cityscapes .grid-item1 {
  background-image: url("https://images.unsplash.com/photo-1588245300911-bfddf050d738?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;
  background-position: center;
  grid-column: 1/4;
  grid-row: 1/2;
}

#cityscapes .grid-item2 {
  background-image: url("https://images.unsplash.com/photo-1593459483414-1a7378bf6ce5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80");
  background-size: cover;
  background-position: center;
  grid-column: 1/2;
  grid-row: 2/5;
}

#cityscapes .grid-item3 {
  background-image: url("https://collidecolumn.files.wordpress.com/2013/04/colombo-harbour-fort-at-night-image-courtesy-srilankan-airlines.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 1/5;
  grid-row: 5/5;
}

#cityscapes .grid-item4 {
  background-image: url("https://live.staticflickr.com/4642/25622879348_0605f3a5f2_b.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 2/4;
  grid-row: 2/5;
}

#cityscapes .grid-item5 {
  background-image: url("https://w0.peakpx.com/wallpaper/698/467/HD-wallpaper-colombo-sri-lanka-buildings-city-city-life-colombo-lake-lights-night-sky-space-sri-lanka.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 4/6;
  grid-row: 1/3;
}

#cityscapes .grid-item6 {
  background-image: url("https://images.unsplash.com/photo-1561212661-fc75694d58f9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
  background-size: cover;
  background-position: center;
  grid-column: 4/5;
  grid-row: 3/5;
}

#cityscapes .grid-item7 {
  background-image: url("https://images.unsplash.com/photo-1578159802020-13ec49d669df?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;
  background-position: center;
  grid-column: 5/6;
  grid-row: 3/6;
}

#cityscapes .grid-item8 {
  background-image: url("https://images.unsplash.com/photo-1623595289196-007a22dd8560?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80");
  background-size: cover;
  background-position: center;
  grid-column: 6/8;
  grid-row: 1/6;
}

/***************************************************** BEACHES IN SRI LANKA IMAGES ******************************************************/

#beaches .grid-item1 {
  background-image: url("https://d1bv4heaa2n05k.cloudfront.net/user-images/1547131970237/shutterstock-100609324_main_1547132002949.jpeg");
  background-size: cover;
  background-position: center;
  grid-column: 1/4;
  grid-row: 1/2;
}

#beaches .grid-item2 {
  background-image: url("https://www.intrepidtravel.com/adventures/wp-content/uploads/2017/11/Intrepid-Travel-sri-lanka_unawatuna_beach-e1511415769473.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 1/2;
  grid-row: 2/5;
}

#beaches .grid-item3 {
  background-image: url("https://et-website.s3.amazonaws.com/uploads/2015/05/sri-lanka-galle-beaches-3.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 1/5;
  grid-row: 5/5;
}

#beaches .grid-item4 {
  background-image: url("https://www.thecoastalcampaign.com/wp-content/uploads/2019/10/DJI_0207-2.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 2/4;
  grid-row: 2/5;
}

#beaches .grid-item5 {
  background-image: url("https://d1bv4heaa2n05k.cloudfront.net/user-images/1547131970237/shutterstock-100609324_main_1547132002949.jpeg");
  background-size: cover;
  background-position: center;
  grid-column: 4/6;
  grid-row: 1/3;
}

#beaches .grid-item6 {
  background-image: url("https://www.thesrilankatravelblog.com/wp-content/uploads/2022/02/sri-lanka-a-surfers-guide-new-header.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 4/5;
  grid-row: 3/5;
}

#beaches .grid-item7 {
  background-image: url("https://cinnamonweb.blob.core.windows.net/cinnamonweb-prd/dining_wellness/snorkelling-at-pigeon-island-Hikka-tranz-530X420.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 5/6;
  grid-row: 3/6;
}

#beaches .grid-item8 {
  background-image: url("https://images.squarespace-cdn.com/content/v1/596b2969d2b85786e6892853/1533121452336-4TZ6S7UV5I7GEWJYLZHT/The+rope+swing+at+Dalawella+Beach%2C+Sri+Lanka");
  background-size: cover;
  background-position: center;
  grid-column: 6/8;
  grid-row: 1/6;
}

/***************************************************** WILDLIFE IN SRI LANKA IMAGES ******************************************************/





/**************************************************** PAGE STYLES ************************************************************************/
.page-number-block {
  text-align: center;
  padding: 3px;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 10px 18px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
  border-radius: 50px;
}

.pagination a.active {
  background-color: #343834;
  color: white;
  border: 1px solid #343834;
  border-radius: 50px;
}

.pagination a:hover:not(.active) {
  background-color: #ffffff;
  border: 1px solid #262726;
}