body {
    background-image: url("images_home/main\ page\ image.jpg");
    background-repeat: no-repeat;
    background-position: right-top;
    background-attachment: fixed;
    background-size: cover;
    color: #000000;
    font-family: 'Montserrat';
    margin: 0;
}



.contents{
    box-shadow: 0 4px 8px 0 #ffffff;
    border-radius:10px;
    transition: 0.3s;
    padding-left:45px;
    padding-top: 25px;
    padding-right:45px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 22px;
}

img{
    width: 400px;
    height:400px;
    border-radius: 25px 25px 0px 0px;
}
      
 /* On mouse-over, add a deeper shadow */
.images:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
      
.wildlife{
    background-color: #ffffff;
    width: 400px;
    height:500px;
    border-radius: 25px;
    text-align: center;

}
.beaches{
    background-color: #ffffff;
    width: 400px;
    height:500px;
    border-radius: 25px;
    text-align: center;
 
}
.festivals{
    background-color: #ffffff;
    width: 400px;
    height:500px;
    border-radius: 25px;
    text-align: center;
}


.image:hover{
    background-color: #b6b6bb;
}
.active {
    background-color: #b6b6bb;
}

.mainIntro{
    padding-top:50px;
    padding-left: 150px;
    padding-right: 150px;
    font-size: 18px;
    /*background-color: #d1d1d878;*/

}
.logo{
    position: fixed;
    float: right;
    padding-top: 0;
}
.topic{
    display:flex;
    padding-top:200x;
    padding-left:200px;
    margin-top: 100px;
    margin-left:150px;
    text-align: center;
}

.slogan{
    font-size: 22px;
    text-align: center;
}

