body {
    background-image: url("main page image.jpg");
    background-repeat: no-repeat;
    background-position: right-top;
    background-attachment: fixed;
    background-size: cover;
    color: #000000;
    font-family: 'Montserrat';

}