body {
    background-image: url("main page image.jpg");
    background-repeat: no-repeat;
    background-position: right-top;
    background-attachment: fixed;
    background-size: cover;
    color: #000000;
    font-family: 'Montserrat';
    margin: 0;
}


.mainIntro{
  
    padding-top: 250px;
    padding-left: 150px;
    padding-right: 850px;
    /*background-color: #d1d1d878;*/
}